*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  color: black;
}
:root{
  --dark-blue:#262A41;
  --search:#3C3F54;
  --pink:#F935A9;
  --blue:#30BBB5;
  --purple:#7946C1;
}
.App{
  background-color:var(--dark-blue);
  color: #FFFFFF;
  position: absolute;
  min-height: 100vh;
  width: 100%;
}
.details .content .contact i{
  padding: 10px;
  background-color: var(--blue);
  border-radius: 5px;
  height: 35px;
  position: relative;
  top: -45px;
  left: 130px;
}
.contents{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 80%;
  justify-content:center;
  max-width: 1200px;
  min-width: 200px; */
}
.contents .header{
  display: flex;
  align-self: start;
  font-size: 30px;
}
.contents .header span{
  font-weight: 600;
}
.contents .search{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.contents .search input{
  background-color: var(--search);
  border: none;
  width: 70%;
  height: 50px;
  border-radius: 20px;
  padding-left: 3rem;
  outline: none;
  font-size: 15px;
}
.contents .search i{
  position: relative;
  left: 30px;
}
.contents .user-header{
  font-size: 20px;
  margin-top: 2rem;
}
.users nav{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
.users nav input{
  display: none;
}
.users nav label{
  color: rgba(#ffffff,0.7);
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.users nav div label i{
  width:60px;
  height: 60px;
  font-size: 25px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.users nav div label i.fa-users{
  background-color: var(--pink);
}
.users nav div label i.fa-users{
  background-color: var(--pink);
}
.users nav div label i.fa-female{
  background-color: var(--purple);
}
.users nav div label i.fa-male{
  background-color: var(--blue);
}
.users nav div label i:hover{
  width: 100px;
  height: 80px;
  transition: all 200ms ease-in-out;
}
.change{
  color: black;
}
.contents .contents-one{
  margin: 1rem;
}
.contents .content-two{
  margin-top: 1rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#F7F7FF;
  padding: 2rem 0;
  border-radius: 20px;
  overflow: hidden;
}
.contents .content-two p.filter{
  color: black;
  align-self: start;
  margin-left: 3rem;
  font-weight: 600;
}
.contents .content-two .heading .search i{
  color: #262A41;
  opacity: 52%;
}
.contents .content-two .heading .search input{
  width: 70%;
  background-color: rgba(60, 63, 84, 0.11);
}
.contents .content-two .heading{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contents .content-two .heading .search input::placeholder{
  color: #262A41;
  opacity: 52%;
}
.contents .content-two .heading .select{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contents .content-two .heading .select select{
  width: 60%;
  height: 2.2rem;
  margin: 1rem;
  background-color: rgba(60, 63, 84, 0.11);
  border: none;
  padding:0 1rem;
  outline: none;
  height: 2.6rem;
  border-radius: 20px;
}
.details .content p{
  color: #262A41;
}
.contents .content-two .info .linked{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 100%;
  align-items: center;
}
img{
  width: 100%;
  object-fit: cover;
}
.details img{
  width: 10rem;
}
.details{
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.details .content{
  word-wrap: break-word;
}
.each-info{
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.5rem;
}
.each-info .detailed .filter{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: .5rem;
}
.each-info .detailed .results{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 3rem;
  margin-top: 1rem;
  text-decoration: none;
}
.each-info .detailed .results i{
  font-size: 1.5rem;
  margin-right: 1rem;
  position: relative;
  top: 7px;
}
.each-info .detailed .results p{
  font-size: 1.5rem;
}
.each-detail{
  display: flex;
  padding: 20px;
  /* width: 80%; */
  flex-wrap: wrap;
  justify-content: center;
}
.each-detail img{
  width: 8rem;
  display: flex;
  align-self: center;
  margin-right: 2rem;
  border-radius: 50%;
  border: 3px solid var(--blue);
}
.each-detail .information{
  margin-top: 2rem;
}
.each-detail .information i{
  margin-right: 1rem;
  color: #FCFCFF;
  text-shadow: 0 0 3px  #BABDD1;
  -webkit-text-fill-color: #FCFCFF;
  -webkit-text-stroke-width: 0.6px;
  -webkit-text-stroke-color: #BABDD1;
}
.fa-envelope g g path{
  stroke: #BABDD1;
  stroke-width: 60px;
}
.each-info .detailed{
  background-color: rgba(247, 247, 255, 1);
  color:rgba(38, 42, 65, 1);
  width: 80%;
  border-radius: 20px;
}
a{
  text-decoration: none;
}
.each-info .detailed .heading{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.each-info .detailed .heading .search{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.each-info .detailed .heading .search input,.each-info .detailed .heading .select select{
  padding: 10px 25px;
  border-radius: 20px;
  border: none;
}
.each-info .detailed .heading .search i{
  position: relative;
  color: #262A41;
  left: 20px;
}
.each-info .detailed .heading .search input::placeholder{
  padding-left:30px;
}
.content-two .next{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
}
.content-two .next button{
  display: flex;
  align-items: center;
  border: none;
  padding: 10px 15px;
  background-color: #7946C1;
  border-radius: 20px;
  color: #FFFFFF;
  justify-content: space-around;
  cursor: pointer;
  margin-bottom: 1rem;
}
.content-two .next button i{
  font-size: 1.2rem;
}
@media(min-width:800px){
  .content-two .next{
    display: flex;
    flex-direction: row;
  }
  .each-info{
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
    flex-direction: row;
  }
  .each-info .detailed{
    height: 80vh;
    margin: 1rem;
    overflow-y: scroll;
  }
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
  .each-info .detailed .eached{
    display: flex;
    margin: 0rem 1rem;
  }
  .contents{
    flex-direction: row;
    align-items: flex-start;
    margin-left: 2rem;
    justify-content: space-between;
    margin: 1rem;
  }
  .each-info .detailed{
    width: 50%;
    margin: 2rem;
  }
  .each-detail img{
    width: 9rem;
  }
  .details .content .contact i{
    position: initial;
  }
  .contents .content-two{
    width: 50%;
  }
  .contents .contents-one{
    height: 60vh;
    display: inline-flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 5rem;
    padding-right: 20px;
    padding-left: 70px;
  }
  .details {
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 20px;
    width: 40vw;
  }
  .details .content .contact{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .details .content{
    width: 35rem;
  }
  .details .content p{
    padding-left: 10px;
    word-wrap: break-word;
  }
  .details img{
    width: 6rem;
    border-radius: 50%;
  }
  .contents .content-two .heading{
    flex-direction: row;
  }
}
@media(max-width:900px) and (min-width:800px){
  .contents .content-two .heading .search input{
    padding-left: 35px;
    width: 80%;
  }
  .contents .content-two .heading .select select{
    width: 70%;
  }
  .details{
    flex-wrap: wrap;
    width: 50%;
  }
  .users nav div label i:hover{
    width: 70px;
    height: 70px;
  }
  .each-info .detailed{
    height: 80vh;
    overflow-y: scroll;
  }
  .each-info .detailed .eached{
    margin: 0;
  }
}
@media(min-height:1100px)and (min-width:800px){
  .contents .contents-one{
    height: 50vh;
    margin-top: 7rem;
  }
  .contents .content-two{
    margin-top: 3rem;
  }
  .each-info .detailed{
    height: 60vh;
    margin: 2rem;
  }
}